In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
df_trash = pd.read_csv('../../data/trash_hauler_report_with_lat_lng.csv')
df_trash.head(10)

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE
0,25270,11/1/2017,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207.0,RED RIVER,3205,2.0,1727970.412,686779.4781,-86.815392,36.217292
1,25274,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1721259.366,685444.7996,-86.838103,36.213470
2,25276,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1707026.753,659887.4716,-86.885562,36.142923
3,25307,11/1/2017,Trash - Curbside/Alley Missed Pickup,missed,2603 old matthews rd,37207.0,WASTE IND,2206,2.0,1735691.771,685027.2459,-86.789170,36.212652
4,25312,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1710185.772,664205.1011,-86.874995,36.154861
5,25317,11/1/2017,Trash Collection Complaint,left trash cart in middle of driveway instead ...,3602 floral dr,37211.0,RED RIVER,4304,16.0,1751660.164,643215.2011,-86.733980,36.098140
6,25325,11/1/2017,Damage to Property,Trash/emptied Wednesday & now metal black-mail...,4721 Chalmers Dr,37215.0,RED RIVER,3303,34.0,1726300.965,637078.4022,-86.819640,36.080729
7,25327,11/1/2017,Trash Collection Complaint,"Trash out on time, miss again Tuesday. ALLEY",1816 Jo Johnston Ave,37203.0,METRO,9208,21.0,1731459.367,666013.6012,-86.802988,36.160330
8,25330,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed.,4484 Lavergne Couchville Pike,37013.0,RED RIVER,4210,33.0,1794533.514,618749.3427,-86.588364,36.031728
9,25331,11/1/2017,Trash - Curbside/Alley Missed Pickup,"Trash missed Tuesday again, ALLEY",1206 Ireland St,37208.0,METRO,9208,19.0,1733029.474,668762.6409,-86.797745,36.167916

In [32]:
# filter for only missed pick ups
missed_pickups = df_trash[df_trash['Request'].str.contains("miss", case=False, na=False)]
missed_pickups.head(10)

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE,Route_Num
1,25274,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1721259.366,685444.7996,-86.838103,36.213470,4202
2,25276,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1707026.753,659887.4716,-86.885562,36.142923,4205
3,25307,11/1/2017,Trash - Curbside/Alley Missed Pickup,missed,2603 old matthews rd,37207.0,WASTE IND,2206,2.0,1735691.771,685027.2459,-86.789170,36.212652,2206
4,25312,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1710185.772,664205.1011,-86.874995,36.154861,4203
8,25330,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed.,4484 Lavergne Couchville Pike,37013.0,RED RIVER,4210,33.0,1794533.514,618749.3427,-86.588364,36.031728,4210
9,25331,11/1/2017,Trash - Curbside/Alley Missed Pickup,"Trash missed Tuesday again, ALLEY",1206 Ireland St,37208.0,METRO,9208,19.0,1733029.474,668762.6409,-86.797745,36.167916,9208
10,25341,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed trash pickup - resident has at curb for...,3113 HYDES FERRY RD,37218.0,RED RIVER,4204,2.0,1721577.768,676018.3999,-86.836750,36.187584,4204
12,25359,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed. Does not have access to alley.,830 Meridian St,37207.0,METRO,9207,5.0,1741744.712,675328.6661,-86.768395,36.186144,9207
14,25370,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed.,6543 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1706941.584,659614.1836,-86.885842,36.142170,4205
15,25371,11/1/2017,Trash - Curbside/Alley Missed Pickup,Pickup missed,2218 BUENA VISTA PIKE,37218.0,RED RIVER,4204,2.0,1724505.766,679777.5997,-86.826936,36.197979,4204

In [4]:
# grouping by address to see how many times each location had a missed pickup
missed_counts = missed_pickups.groupby("Incident Address").size().reset_index(name="missed_count")
missed_counts.head(10)

                                    Incident Address  missed_count
0                              1 BELLE FORREST AVE C             1
1                               10 Belle Forrest Ave             1
2  100 Bluefield Square, Nashville, TN 37214, Uni...             1
3                                100 Braxton Hill Ct             1
4                                100 Brook Hollow Rd             1
5  100 Clydelan Ct, Nashville, TN 37205, United S...             2
6  100 Desoto Dr, Nashville, TN 37210, United States             1
7    100 Dyer Ct, Nashville, TN 37218, United States             1
8  100 Graeme Dr, Nashville, TN 37214, United States             1
9  100 Iroquois Ct, Nashville, TN 37205, United S...             1

In [5]:
#applying the $200 fine per missed pickup for every missed pickup after the first
missed_counts["fine"] = (missed_counts["missed_count"] - 1).clip(lower=0) * 200
missed_counts.head(10)

                                    Incident Address  missed_count  fine
0                              1 BELLE FORREST AVE C             1     0
1                               10 Belle Forrest Ave             1     0
2  100 Bluefield Square, Nashville, TN 37214, Uni...             1     0
3                                100 Braxton Hill Ct             1     0
4                                100 Brook Hollow Rd             1     0
5  100 Clydelan Ct, Nashville, TN 37205, United S...             2   200
6  100 Desoto Dr, Nashville, TN 37210, United States             1     0
7    100 Dyer Ct, Nashville, TN 37218, United States             1     0
8  100 Graeme Dr, Nashville, TN 37214, United States             1     0
9  100 Iroquois Ct, Nashville, TN 37205, United S...             1     0

In [6]:
# calculate the total fines for missed pickups
total_damages = missed_counts["fine"].sum()
print("Total damages due to missed pickups: $", total_damages)

Total damages due to missed pickups: $ 720800

-----How much does each trash hauler owe?-----

In [7]:
#breaking down the fines per trash hauler

#this query shows the amount of addresses each hauler has fines for missing pickups from
hauler_fines = missed_pickups.groupby("Trash Hauler")["Incident Address"].nunique()
hauler_fines.head(10)

Trash Hauler
METRO        2080
Metro          28
RED RIVER    8190
WASTE IND     804
Name: Incident Address, dtype: int64

In [8]:
# Normalize hauler names to uppercase
missed_pickups.loc[:, "Trash Hauler"] = missed_pickups["Trash Hauler"].str.upper()

# Regroup by hauler and count unique addresses
hauler_fines = missed_pickups.groupby("Trash Hauler")["Incident Address"].nunique()
print(hauler_fines.head(10))

Trash Hauler
METRO        2107
RED RIVER    8190
WASTE IND     804
Name: Incident Address, dtype: int64

In [9]:
# Count missed pickups per address + hauler
missed_counts = (
    missed_pickups
    .groupby(["Incident Address", "Trash Hauler"])
    .size()
    .reset_index(name="missed_count")
)

# Apply fine rule
missed_counts["fine"] = (missed_counts["missed_count"] - 1).clip(lower=0) * 200

# Normalize hauler names
missed_counts["Trash Hauler"] = missed_counts["Trash Hauler"].str.upper()

# Aggregate by hauler
hauler_summary = (
    missed_counts
    .groupby("Trash Hauler")
    .agg(
        total_missed=("missed_count", "sum"),
        total_fines=("fine", "sum")
    )
    .reset_index()
)

print(hauler_summary.head(10))

  Trash Hauler  total_missed  total_fines
0        METRO          2687       116000
1    RED RIVER         10714       504800
2    WASTE IND          1019        43000

Metro did a far better job at picking up trash than Red River, while they had over double the missed pickups as Waste Ind, they only missed arond 25% of the pickups that Red River missed.

total fines.
Waste Ind. = $43,000
Metro = $116,000
Red River = $504,800

-----What were the total missed pickup by route?-----

In [10]:
# ‚¶Å	What were to total missed pickup by route?
missed_counts_route = (
    missed_pickups
    .groupby(["Incident Address", "Trash Route"])
    .size()
    .reset_index(name="missed_count")
)

# Apply fine rule
missed_counts_route["fine"] = (missed_counts_route["missed_count"] - 1).clip(lower=0) * 200

# Aggregate by route
route_summary = (
    missed_counts_route
    .groupby("Trash Route")
    .agg(
        total_missed=("missed_count", "sum"),
        total_fines=("fine", "sum")
    )
    .reset_index()
)

# View results
print(route_summary.head(10))

  Trash Route  total_missed  total_fines
0        1201           160         5600
1        1202            87         2600
2       1202S             4            0
3        1203            68          800
4        1204            61         1400
5        1205            33         1400
6        1301           155         6000
7        1302           106         3000
8       1302S            24          400
9        1303           120         5800

In [11]:
# Count missed pickups per address + district
missed_counts_district = (
    missed_pickups
    .groupby(["Incident Address", "Council District"])
    .size()
    .reset_index(name="missed_count")
)

# Apply fine rule
missed_counts_district["fine"] = (
    (missed_counts_district["missed_count"] - 1).clip(lower=0) * 200
)

# Aggregate by district
district_summary = (
    missed_counts_district
    .groupby("Council District")
    .agg(
        total_missed=("missed_count", "sum"),
        total_fines=("fine", "sum")
    )
    .reset_index()
)

# View results
print(district_summary.head(50))

    Council District  total_missed  total_fines
0                1.0           497        24200
1                2.0           719        37400
2                3.0           125         6200
3                4.0           210         8200
4                5.0           621        25200
5                6.0           662        23200
6                7.0           633        20000
7                8.0           733        44800
8                9.0           328        16200
9               10.0             2            0
10              11.0             4            0
11              12.0             3            0
12              13.0           108         4400
13              14.0           129         3400
14              15.0           654        29600
15              16.0           680        35200
16              17.0           494        17200
17              18.0           395        18400
18              19.0           467        29200
19              20.0           538        27400
20              21.0           756        40200
21              22.0            32         1400
22              23.0           479        17600
23              24.0           577        29600
24              25.0           943        54000
25              26.0           353        11800
26              27.0           439        20800
27              28.0           379        19000
28              29.0           624        30600
29              30.0           474        22600
30              31.0           390        23400
31              32.0           432        26600
32              33.0           610        27800
33              34.0           496        23800
34              35.0             3            0

In [12]:
# Count all different request types in the "Request" column
request_counts = (
    df_trash["Request"]
    .value_counts()
    .reset_index()
    .rename(columns={"index": "Request Type", "Request": "Count"})
)

# View results
print(request_counts.head(20))

                                  Count  count
0  Trash - Curbside/Alley Missed Pickup  15028
1                      Trash - Backdoor   2629
2            Trash Collection Complaint   2312
3                    Damage to Property    257

In [13]:
# Filter dataset to only include Red River hauler
red_river_requests = df_trash[df_trash["Trash Hauler"] == "RED RIVER"]

# Count all different request types in the "Request" column for Red River
request_counts_redriver = (
    red_river_requests["Request"]
    .value_counts()
    .reset_index()
    .rename(columns={"index": "Request Type", "Request": "Count"})
)

# View results
print(request_counts_redriver.head(20))

                                  Count  count
0  Trash - Curbside/Alley Missed Pickup  10715
1                      Trash - Backdoor   2196
2            Trash Collection Complaint   1287
3                    Damage to Property    197

---------------After the regex walkthrough---------------

In [14]:
# Collapse multiple spaces, force uppercase
df_trash["Trash Hauler"] = df_trash["Trash Hauler"].str.upper().str.replace(r"\s+", " ", regex=True)

# Match anything containing 'RED RIVER'
df_trash["Trash Hauler"] = df_trash["Trash Hauler"].str.replace(r".*RED\s*RIVER.*", "RED RIVER", regex=True)

In [15]:
# Use word boundaries for exact match
missed_exact = df_trash['Description'].str.contains(r'\bmissed\b', case=False, na=False, regex=True)
print(f"Found {missed_exact.sum()} rows with exact word 'missed'")
df_trash[missed_exact][['Description']].head(10)

Found 10781 rows with exact word 'missed'

                                          Description
3                                              missed
4                   Missed the even side of the road.
8                                             Missed.
9                   Trash missed Tuesday again, ALLEY
10  Missed trash pickup - resident has at curb for...
11                         Missed- 4th week in a row.
12             Missed. Does not have access to alley.
14                                            Missed.
15                                      Pickup missed
19                                            Missed.

In [16]:
# Use word boundaries for exact match
missed_exact = df_trash['Description'].str.contains(r'\bmissed\b', case=False, na=False, regex=True)

print(f"Found {missed_exact.sum()} rows with exact word 'missed'")

# Show both Description and Request columns for those rows
df_trash.loc[missed_exact, ['Description', 'Request']].head(10)

Found 10781 rows with exact word 'missed'

,Description,Request
3,missed,Trash - Curbside/Alley Missed Pickup
4,Missed the even side of the road.,Trash - Curbside/Alley Missed Pickup
8,Missed.,Trash - Curbside/Alley Missed Pickup
9,"Trash missed Tuesday again, ALLEY",Trash - Curbside/Alley Missed Pickup
10,Missed trash pickup - resident has at curb for...,Trash - Curbside/Alley Missed Pickup
11,Missed- 4th week in a row.,Trash Collection Complaint
12,Missed. Does not have access to alley.,Trash - Curbside/Alley Missed Pickup
14,Missed.,Trash - Curbside/Alley Missed Pickup
15,Pickup missed,Trash - Curbside/Alley Missed Pickup
19,Missed.,Trash - Curbside/Alley Missed Pickup

In [17]:
# Use word boundaries for exact match
missed_exact = df_trash['Description'].str.contains(r'\bmissed\b', case=False, na=False, regex=True)

print(f"Found {missed_exact.sum()} rows with exact word 'missed'")

# Count how many 'missed' rows per request type
request_counts_missed = (
    df_trash.loc[missed_exact, "Request"]
    .value_counts()
    .reset_index()
    .rename(columns={"index": "Request Type", "Request": "Count"})
)

# View results
print(request_counts_missed)

Found 10781 rows with exact word 'missed'
                                  Count  count
0  Trash - Curbside/Alley Missed Pickup   8721
1                      Trash - Backdoor   1437
2            Trash Collection Complaint    621
3                    Damage to Property      2

In [18]:
# Creating exact route numbers
df_trash["Route_Num"] = df_trash["Trash Route"].str.extract(r"(\d+)")

# Normalize street suffixes
df_trash["Incident Address"] = df_trash["Incident Address"].str.replace(r"\bST\b", "STREET", regex=True)

df_trash.head()

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE,Route_Num
0,25270,11/1/2017,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207.0,RED RIVER,3205,2.0,1727970.412,686779.4781,-86.815392,36.217292,3205
1,25274,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1721259.366,685444.7996,-86.838103,36.213470,4202
2,25276,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1707026.753,659887.4716,-86.885562,36.142923,4205
3,25307,11/1/2017,Trash - Curbside/Alley Missed Pickup,missed,2603 old matthews rd,37207.0,WASTE IND,2206,2.0,1735691.771,685027.2459,-86.789170,36.212652,2206
4,25312,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1710185.772,664205.1011,-86.874995,36.154861,4203

In [30]:
# Alternative Method 1:
# For each address, if there are three or more missed pickups within a 180-day period, damages of $1500 
# will be charged. (A fine will be levied every time three unique missed pickup dates occur within a six
# -month period for a single address.)

alt_1_df = df_trash.copy()
alt_1_df['Date Opened'] =pd.to_datetime(alt_1_df['Date Opened'])
alt_1_df = alt_1_df.sort_values(['Incident Address', 'Date Opened'])

# for each pickup, count how many pickups happened in the last 180 days (including itself)
rolling_count = alt_1_df.groupby('Incident Address').rolling(window='180d', on='Date Opened')['Date Opened'].count()

# charge $1,500 every time the count reaches 3 or more
total_fines_method1 = (rolling_count >= 3).sum() * 1500

print(f"Alternative Method 1 Total Fines: ${total_fines_method1:,.0f}")

Alternative Method 1 Total Fines: $3,309,000

In [35]:
# Alternative Method 2:
# This method also considers the six-month window like Alternative Method 1, but each date can only be
# used once to support a fine. How will this difference impact the fines levied? (Example: If Jan 1st,
# Mar 3rd, Apr 8th, and Aug 9th were the only four dates a trash pickup was missed, the original method 
# would result in $3000 in fines [Jan, Mar, Apr, and also Mar, Apr, Aug]. However, this updated method
# would only result in $1500 because neither Mar nor Apr can be used for another fine since they were 
# already used.)
alt_2 = df_trash.copy()
alt_2['Date Opened'] =pd.to_datetime(alt_2['Date Opened'])
alt_2 = alt_2.sort_values(['Incident Address', 'Date Opened'])

total_fines_method2 = 0

# process each address
for address in alt_2['Incident Address'].unique():
    address_dates = alt_2[alt_2['Incident Address'] == address]['Date Opened'].tolist()
    used_dates = set()

    #go through dates abd find set of 3 within 180 days
    for i in range(len(address_dates)):
        if address_dates[i] in used_dates:
            continue

        # find dates within 180 days that haven't been used
        window = [address_dates[i]]
        for j in range(i+1, len(address_dates)):
            if address_dates[j] not in used_dates:
                if (address_dates[j] - address_dates[i]).days <= 180:
                    window.append(address_dates[j])

        # if we have 3+ dates charge $1500 and mark them as used
        if len(window) >= 3:
            total_fines_method2 += 1500
            used_dates.update(window[:3]) # use only the first 3 dates

print(f"Alternative Method 2 Total Fines: ${total_fines_method2:,.0f}")

Alternative Method 2 Total Fines: $1,840,500

In [19]:
# Missed Trash Pickups

# In this data question you will be working data of service request related to missed trash pickups from hubNashville, 
# Metro Nashville government's comprehensive customer service system (https://hub.nashville.gov).

# As part of Metro's contract with Red River Waste Solutions, failure to remedy an action or inaction will result
# in liquidated damages. One category of liquidated damages is related to chronic problems in any category of service 
# at the same premises. A chronic problem is defined as more than one missed pickup for any address. The first missed
# pickup will not result in a fine; however, every subsequent missed pickup will result in a $200 fine.

# Your job is to determine the total amount of damages due to missed pickups. Note that not all rows that you have been 
# provided correspond to missed pickups and that you will need to ensure that you are only counting missed pickups.

# After determining the total amount of damages, you can look at other questions:

# ‚¶Å	What other types of complaints are there?
# ‚¶Å	Are there any geospatial analysis you can do?  Which visualizations can you create?
# ‚¶Å	How do metro crews compare to the contractor's performance?
# ‚¶Å	How much does each trash hauler owe?
# ‚¶Å	What were to total missed pickup by route?

In [ ]:
# Missed Trash Pickups
# The city is considering different ways to calculate fines. Here are two methods that are being 
# considered. Calculate the total fines that would be collected by each and compare that total to the
# amount collected using the current method.

# Alternative Method 1:
# For each address, if there are three or more missed pickups within a 180-day period, damages of $1500 
# will be charged. (A fine will be levied every time three unique missed pickup dates occur within a six
# -month period for a single address.)

# Alternative Method 2:
# This method also considers the six-month window like Alternative Method 1, but each date can only be
# used once to support a fine. How will this difference impact the fines levied? (Example: If Jan 1st,
# Mar 3rd, Apr 8th, and Aug 9th were the only four dates a trash pickup was missed, the original method 
# would result in $3000 in fines [Jan, Mar, Apr, and also Mar, Apr, Aug]. However, this updated method
# would only result in $1500 because neither Mar nor Apr can be used for another fine since they were 
# already used.)